button{
    width: 250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: white;
    border:  2px solid white;
    border-radius: 15px;
    cursor: pointer;
}

button:hover{
    background-color: #00471b;
}

.primary{
    background-color: #002ead;
}
.secundary {
    background-color: #5a01a7;
}